!!! 5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='chrome=1')
    title Zip by zeekay
    link(rel='stylesheet', href='stylesheets/styles.css')
    link(rel='stylesheet', href='stylesheets/pygment_trac.css')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    //if lt IE 9
      script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
  body
    .wrapper
      header
        h1 Zip
        p Zippy web framework for Go&period;
        p.view
          a(href='https://github.com/zeekay/zip')
            | View the Project on GitHub
            small zeekay&sol;zip
        ul
          li
            a(href='https://github.com/zeekay/zip/zipball/master')
              | Download
              strong ZIP File
          li
            a(href='https://github.com/zeekay/zip/tarball/master')
              | Download
              strong TAR Ball
          li
            a(href='https://github.com/zeekay/zip')
              | View On
              strong GitHub
      section!= content
    script(src='javascripts/scale.fix.js')
